.jqx-icon-reload-android
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-arctic
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-base
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-blackberry
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-black
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-bootstrap
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-classic
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-darkblue
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-dark
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-energyblue
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-flat
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-fresh
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-glacier
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-highcontrast
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-light
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-metro
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-metrodark
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-mobile
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-office
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-orange
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-shinyblack
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-summer
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-darkness
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-ui-le-frog
{
    background-image: url('images/icon-reload-white.png');
}
.jqx-icon-reload-ui-lightness
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-overcast
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-redmond
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-smoothness
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-start
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-ui-sunny
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-web
{
    background-image: url('images/icon-reload.png');
}
.jqx-icon-reload-windowsphone
{
    background-image: url('images/icon-reload.png');
}

.jqx-icon-hide-android
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-arctic
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-base
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-blackberry
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-black
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-bootstrap
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-classic
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-darkblue
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-dark
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-energyblue
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-flat
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-fresh
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-glacier
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-highcontrast
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-light
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-metro
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-metrodark
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-mobile
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-office
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-orange
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-shinyblack
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-summer
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-darkness
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-ui-le-frog
{
    background-image: url('images/icon-hide-white.png');
}
.jqx-icon-hide-ui-lightness
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-overcast
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-redmond
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-smoothness
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-start
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-ui-sunny
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-web
{
    background-image: url('images/icon-hide.png');
}
.jqx-icon-hide-windowsphone
{
    background-image: url('images/icon-hide.png');
}
