/* Body */

body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}


/* Menu */

.menu {
  top: 0px;
  left: -230px;
  height: 100%;
  position: fixed;
  width: 230px;
}


/* Basic CSS */

.background {
 
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}
